.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.banner {
  display: flex;
  flex-direction: column;

  padding: 4px;

  min-width: 600px;
  min-height: 100px;

  max-width: 800px;
  max-height: 300px;
  overflow: hidden;
  border-radius: 8px;
}

.background-text-wrapper {
  display: flex;
  gap: 20px;
}

.background-text {
  font-family: 'Major mono display', monospace;
  font-weight: 400;
  font-size: var(--fs-lg);
  line-height: 1.2;
  white-space: nowrap;
  color: transparent;
}

.main-text-wrapper {
  display: flex;
  gap: 18px;
}

.main-text {
  font-family: var(--header-font);
  font-weight: 400;
  font-size: var(--fs-lg);
  line-height: 1.2;
  white-space: nowrap;
}
