.app-content {
  max-width: 100vw;
  max-height: 100vh;
}
.app-content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.main-title-text {
  font-family: var(--font-1);
  font-size: var(--fs-lg);
  font-weight: 800;
  color: var(--text-1);
  margin-top: 20px;
}
